# Copia como ".env" para desarrollo local
SECRET_KEY=cambia_esto
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
# En Railway se referencia desde el servicio PostgreSQL; local usa SQLite si se omite
DATABASE_URL=

# Twilio (paso 2 en adelante)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
PUBLIC_BASE_URL=https://TU-DOMINIO.up.railway.app
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
TWILIO_TEMPLATE_PEDIDO_SID=HX2a5d86fcad8ff50d708bfb92389a8e99
